/*--------------------
News
--------------------*/

.AllNews {
    padding: 0px;
    padding-top: 60px;
}

.News {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 10%;
    padding-right: 10%;
}

.News img {
    max-height: 400px;
    max-width: 400px;
    padding: 5px 5px;
}

.AllNews li {
    font-size: 15px;
    line-height: 30px;
}

