/*--------------------
General
--------------------*/
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #F6F6F6;
    margin: 0px;
    font-family: "Raleway", sans-serif;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    position: relative;
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    letter-spacing: 0.4px;
    font-family: "Raleway", sans-serif;
    color: #232323;
    line-height: 23px;
}

p {
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0px;
    color: #424242;
}

a {
    color: #CB0000;
}

a:hover, a:focus, a:active, a.active {
    color: #FEC503;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
    text-decoration: none;
}

::selection {
    text-shadow: none;
    background: #FED136;
}

img {
    max-width: 100%;
    height: auto;
}

/*--------------------
1.1 Reset bootstrap
--------------------*/


@media (min-width: 1200px) {
    .row {
        width: 1200px;
        margin: auto;
    }
}

.row-gutter {
    margin-left: -20px;
    margin-right: -20px;
}

.col-gutter {
    padding-left: 20px;
    padding-right: 20px;
}

.content-area {
    min-height: 100%;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

/*--------------------
Navigation
--------------------*/

nav>div {
    width: 95%;
}
.navbar-fixed-top {

}
.navbar-collapse {
    padding: 0;
}
.navbar-default {
    background-color: #6A548E;
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: none;
    border-radius: 0px;
}
.navbar-default>.active>a {
    border-radius: 0;
    color: #FEC503;
    background-color: transparent;
}
.navbar-default .navbar-brand {
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    color: #FFFFFF;
    padding: 12px 30px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: .7s;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
    color: #FEC503;
}
.navbar-default .navbar-toggle {
    background-color: #FEC503;
    border-color: #FEC503;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #FEC503;
}
.navbar-default .navbar-collapse {
    width: 100%;
    border-color: rgba(255,255,255,.02);
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #FEC503;
    background-color: transparent;
}
.navbar-default .nav li a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 15px 20px;
    padding: 0;
    transition: .7s;
}
.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    border-color: #991919;
    outline: 0;
    color: #FEC503;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #FEC503;
    background-color: transparent;
}
.navbar-default .navbar-nav .dropdown a:hover, .navbar-default .navbar-nav .dropdown a:active, .navbar-default .navbar-nav .dropdown a:focus {
    background-color: transparent;
    color: #FEC503;
    border: none;
}
.navbar-default .navbar-nav .dropdown-menu {
    background-color: #6A548E;
    border: none;
}
.nav>li:hover .dropdown-menu {
    display: block;
}
.navbar-default .navbar-nav .dropdown-menu li a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 15px 20px;
    padding: 0;
    transition: .7s;
}
.navbar-default .navbar-nav .dropdown-menu li a:hover, .navbar-default .navbar-nav .dropdown-menu li a:focus {
    border-color: #991919;
    outline: 0;
    color: #FEC503;
    background-color: transparent;
}
.navbar-nav {
    margin: 7.5px 0px;
}

@media (max-width: 1200px) {
    .nav li span {
        display: none;
    }
}

@media (max-width: 1080px) {
    .nav li span, #Shorthide, #Shorthide1, #Shorthide2 {
        display: none;
    }
    .in {
        min-height: 222px;
    }
}


/*--------------------
Footer
--------------------*/

footer {
    font-family: "Raleway", sans-serif;
    background-color: #6A548E;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #FEC503;
}

footer .container {
    width: 80%;
    margin: auto;
}

footer p {
    font-family: "Raleway", sans-serif;
    color: #FFFFFF;
}

footer a {
    color: #FEC503;
    text-decoration: underline;
}
footer img {
    max-width: 350px;
}

.School {
    text-align: center;
}

.footer-row {
    padding: 20px;
}

footer a:hover {
    color: #FFFFFF;
}
