/*--------------------
Location.html
--------------------*/

table {
    margin: auto;
}

iframe {
    margin:auto;
    float: left;
}

.TDmap {
    padding: 10px;
}

/*--------------------
style.css > Navigation
--------------------*/

